In [1]:
from proxy.app import create_connection_string, create_connection
from proxy.db_connection import DbConnection

from sqlalchemy import text

In [2]:
import os


conn_string = create_connection_string(
    db_type="postgresql",
    database="postgres",
    host="aws-0-ap-southeast-1.pooler.supabase.com",
    port=6543,
    user="postgres.qnkvhgvmnendwyjmjsan",
    password=os.getenv("POSTGRE_PASSWORD"),
)

In [3]:
db_conn = create_connection(conn_string)

In [4]:
# raw_query = open("./queries/log_space.sql").read()
query = "SELECT * FROM documents LIMIT 10;"

In [5]:
result = db_conn.execute(query)
for row in result:
    print(row)

(UUID('b0f959f4-374e-4cdf-aa24-276d57c2d00f'), 'Statement of Account 12345678', 'Bank Statement', None, 'JAMES C. MORRISON', 'SYN_4589bd90', True, 'https://example.com/blob/url', {'Name': 'JAMES C. MORRISON', 'Page': 'Page 1 of 2', 'Notes': 'Check images are not shown for this sample statement. Statement will include check imag ... (4524 characters truncated) ... , 'Service Charges and Fees (summary)': '$12 00', 'Deposits and other credits (summary)': '$1,876 02', 'Withdrawals and other debits (summary)': None}, datetime.datetime(2025, 9, 26, 8, 48, 19, 526234), datetime.datetime(2025, 9, 26, 8, 48, 19, 526234))